DOTNET_API_URL=https://pnjbdetnetdevwin-bwfweggteaefh7au.centralindia-01.azurewebsites.net
DOTNET_JWT_SECRET=this is my custom Secret key for authenticationthis is my custom Secret key for authentication
ALLOWED_ORIGINS=https://findmymoney.pnjb.in,https://m.findmymoney.pnjb.in
